<table class="ui celled table">
  <thead>
    <tr>
        <th>Статус</th>
        <th>Результат</th>
        <th>Файлы</th>
        <th>Параметры</th>
    </tr>
  </thead>
  <tbody>
  {% for result in results %}
    <tr>
      <td data-label="Статус">{{ result.get_status_display }}</td>
      <td data-label="Результат"><a class="ui alink" href="{% url 'calc_result' result.id %}" data-content="{{ result.get_result_str }}">Download</a></td>
      <td data-label="Файлы"><a class="ui alink" href="{% url 'calc_source' result.id %}" data-content="{{ result.get_source_str }}">Download</a></td>
      <td data-label="Параметры">{{ result.params }}</td>
    </tr>
  {% empty %}
    <tr>
      <td>Нет результатов</td>
    </tr>
  {% endfor %}
  </tbody>
</table>