{% extends "base.html" %}
{% block content %}
<div class="ui segment">

  <table class="ui table">
    <thead>
    <tr>
      <th></th>
      <th>Расчет</th>
      <th>Пользователь</th>
      <th>Исходные файлы</th>
      <th>Результаты</th>
      <th>Дата создания</th>
      <th>Действительны до</th>
    </tr>
    </thead>
    <tbody>
    {% for project in projects %}
    <tr>
      <td>
        <a class="icon remove" href="{% url 'files_project' project.id %}"></a>
        <a class="icon remove" href="{% url 'project_remove' project.id %}"></a>
      </td>
      <td></td>
      <td>{{ project.user }}</td>
      <td>{{ project.files }}</td>
      <td></td>
      <td>{{ project.date_added }}</td>
      <td>{{ project.date_expire }}</td>
      <td></td>
    </tr>
    {% empty %}
    <tr class="center aligned">
      <td colspan="6">Нет файлов</td>
    </tr>
    {% endfor %}

</div>

<script>
	$('.ui.dropdown')
		.dropdown()
	;

	$('.div.dropdown a.item').on('click', function(e){

	})


</script>
{% endblock %}