<html>
<head>
<title>Weekly Service Delivery Report</title>
<link rel="stylesheet" type="text/css" href="{{ url_for('main_bp.static', filename='semantic/dist/semantic.min.css') }}">
<script src="{{ url_for('main_bp.static', filename='jquery/jquery-3.5.1.min.js') }}"></script>
<script src="{{ url_for('main_bp.static', filename='semantic/dist/semantic.min.js') }}"></script>
{% block header %}{% endblock %}
</head>
<body>
	<div class="ui secondary pointing menu">
		<div class="item">
			<!-- <img src="{{ url_for('main_bp.static', filename='imgs/logo.png') }}"> -->
			<i class="flask icon big"></i>
		</div>
		<a class='item' href="{{ url_for('main_bp.index') }}">
			Main
		</a>
		<a class='item' href="{{ url_for('files_bp.index') }}">
			Files
		</a>
	</div>
	{% block content %}{% endblock %}
	<script>
		$('a.active').removeClass('active')
		var $item = $("a[href='" + location.pathname + "']")
		$item.addClass('active')
	</script>
</body>
</html>