{% extends 'base.html' %}
{% block content %}
<div class="ui two column centered grid">
    <div class="column">
        <div class="ui segment">
            <section class="content">
                <h1 class="ui header">
                    Вы успешно вышли из под Вашей учетной записи!
                </h1>
      </div>
</div>
<script>

</script>
{% endblock %}