{% extends 'base.html' %}
{% block content %}
<div class="ui two column centered grid">
    <div class="column">
        <div class="ui segment">
            <section class="content">
                <div class="ui two column centered grid">
                    <div class="two column centered row">
                        <div class="center aligned column">
                            <h1 class="ui header">Update {{ user }} profile</h1>
                        </div>
                    </div>
                    <form action="{% url 'profile' %}" method="post" class="ui form" novalidate>
                        {% csrf_token %}
                        <div class="two column centered row">
                            <div class="center aligned column">
                                {{ form.as_p }}
                                <button type="submit" class="ui button blue">Update</button>
                            </div>
                        </div>
                        <div class="two column centered row">
                            <div class="center aligned  column">
                            </div>
                        </div>
                    </form>
                    <div class="two column centered row">
                    </div>
                </div>
            </section>
        </div>
      </div>
</div>
<script>

</script>
{% endblock %}