{% extends "base.html" %}
{% block content %}
<div class="ui segment" id="body_seg">
    <div class="ui grid">

      <div class="six wide column">
          <div class="ui segment" id="form_seg">
              <form action="{% url 'csv' %}" method="POST" class="ui form" enctype="multipart/form-data">
                {% csrf_token %}

                {{ form.as_p }}
                <button class="ui button" type="submit">Submit</button>
              </form>
          </div>
      </div>


      <div class="ten wide column">
          <div class="ui segment" id="form_seg">
            {% include "files/calcs_table.html" %}
          </div>
      </div>



</div>
{% endblock %}