<!-- here we need to create modal for files table -->
{% if files is not none %}
<div class="ui modal">
  
  <div class="header">
    Folder files
  </div>
  <div class="content">
      <p>
        <table class="ui celled table">
        <thead><tr>
          {% for col_name, abbr in [('ID', 'id'), ('Name', 'name'), 
                                    ('Created', 'date_created'), ('Size', 'size')]%}
            <th>{{ col_name }}</th>            
          {% endfor %}
          </tr></thead>
            
        <tbody id="tasktable">
          {% for file in files %}
            <tr>
              <td>{{ file.id }}</td>
              <td>{{ file.name }}</td>
              <td>{{ file.date_created }}</td>
              <td>{{ file.size }}</td>
            </tr>
          {% endfor %}
        </tbody>
        </table>
      </p>
  </div>
  <div class="actions">
    <div class="ui positive approve button">OK</div>
  </div>
</div>
<script>
  $('.ui.modal').modal('setting', {
    closable  : false,
    onDeny    : function(){
      console.log('deny')
      return true;
    },
    onApprove : function(){
      console.log('approve')
      var $a = $("<a href='{{ url_for('files_bp.index', page=page_id, sorting=sorting, sorting_order=sorting_order)}}' style='display: none;'></a>")[0]
      $a.click()
      return true;
    },
    });
  $('.ui.modal').modal('show');
</script>
{% endif %}

<div class="ui grid">
    <!--<div class="row">
      <div class="two wide column left aligned">
        <button class="ui blue button" id='add_user'>Add</button>
      </div>
      <div class="ten wide column"></div>
      <div class="four wide column right aligned">
          <div class="ui icon input">
            <input type="text" placeholder="Search..." id="search" value="{{ search }}">
            <i class="circular search link icon" id="search_btn"></i>
        </div>
        <i class="circular x red link icon" id="clear_btn"></i>
      </div>
    </div>-->
    <div class="row">
      <div class="column">
        
        <table class="ui celled table">
          <thead><tr>
            <th></th>
            {% for col_name, abbr in [('Path', 'path'), ('Files qty', 'files_qty'), 
                                      ('Created', 'date_created'), ('Timeout', 'date_timeout')]%}
            <th>{{ col_name }}
              <a href="{{url_for('files_bp.index', sorting=abbr, sorting_order='desc')}}">
                  <i class="arrow down icon link {{ 'red' if (abbr == sorting) and (sorting_order == 'desc')}}">
                  </i>
              </a>
              <a href="{{url_for('files_bp.index', sorting=abbr, sorting_order='asc')}}">
                  <i class="arrow up icon link {{ 'red' if (abbr == sorting) and (sorting_order == 'asc')}}">
                  </i>
              </a>
            </th>
            {% endfor %}
            </tr></thead>
              
          <tbody id="tasktable">
            {% for folder in folders %}
              <tr>
                <td>
                  <button class="ui icon button" id="get_files" name="{{folder.id}}">
                    <i class="file icon" name="{{folder.id}}"></i>
                    <a href="{{url_for('files_bp.index', folder_id=folder.id, page=page_id, sorting=sorting, sorting_order=sorting_order)}}" 
                      id="{{folder.id}}" 
                      style="display:none;">
                    </a>
                  </button>
                  <button class="ui icon red button" id="drop_folder" name="{{folder.id}}">
                    <i class="close icon" name="{{folder.id}}"></i>
                  </button>
                </td>
                <td>{{ folder.path }}</td>
                <td>{{ folder.files|length }}</td>
                <td>{{ folder.date_created }}</td>
                <td>{{ folder.date_timeout }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        
      </div>
    </div>
    <div class="row">
      <div class="ten wide column"></div>
      <div class="six wide column">
        <!-- Pagination -->
        <div class="ui pagination menu left">
          {% for page_id in range(pages) %}
          <a class="{{ ['','active'][page_id == page] }} item" href="{{ url_for('files_bp.index', page=page_id)}}">
            {{page_id + 1}}
          </a>
          {% endfor %}
        </div>
        <!-- Pagination end -->
      </div>
    </div>
</div>
<script>
  
  $('button#get_files').click(function(event){
    var folder_id = $(event.target).attr("name")
    $('a#' + folder_id)[0].click()
    console.log(event.target)
  })

  $('button#drop_folder').click(function(event){
    var folder_id = $(event.target).attr("name")
    console.log($(event.target), event.target)
    $.ajax({
      type: 'GET',
      url:  "{{ url_for('files_bp.delete') }}/" + folder_id,
      success: function(result){
          console.log(result);
      },
      error: function(err){
          console.log(err);
      }
    })
  })

  

</script>
